body {
  line-height: 140%;
}
h1,
h2,
p {
  font-family: sans-serif;
}
code {
  background: #f0f0f0;
  display: block;
  border: 1px solid #e0e0e0;
  overflow: auto;
}
.name_preview {
  background: #f9f9e0;
  padding: 0.2em;
}
